<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @entry.place %>
</p>

<p>
  <b>Lng:</b>
  <%= @entry.lng %>
</p>

<p>
  <b>Lat:</b>
  <%= @entry.lat %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
